
.profile-panel .profile-info {
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel-footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f3f5f6;
    border-top: 1px solid #ddd;
}

.panel-default .panel-footer {
    color: #768399;
    background-color: #e4e9eb;
    border: 1px solid #e4e9eb;
    border-top: none;
}

.panel.plain .panel-footer {
    border-top: none;
}

.panel-footer .white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}

.profile-panel .profile-stats-info a {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
    color: black;
	text-decoration: none;
}

.profile-panel .user-name {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
}

.profile-panel .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
    width: 100%;
}

.profile-panel .profile-avatar {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #e7e7e2;
    float: left;
    width: 100%;
}

.panel-default .panel-body {
	background-color: rgba(0,0,0,0.01);
}

.panel-body {
    padding: 15px;
}

.profile-panel .profile-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel {
    position: relative;
    margin-bottom: 25px;
    border-radius: 4px;
    border: 0;
    box-shadow: none;
} 

.panel-default {
    border-color: #e4e9eb;
}

.panel.plain .panel-default .panel-heading {
    border: 1px solid #e4e9eb;
    border-bottom: none;
}
.panel.plain .panel-heading {
    border-bottom: none;
}
.panel.panel-default .panel-heading {
    color: #768399;
    padding:0;
}

.panel-heading .white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}
.panel-default .panel-heading {
    color: #768399;
    background-color: #e4e9eb;
    border-color: #e4e9eb;
}
.white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}
.p-left {
    padding-left: 0!important;
}

.p-right {
    padding-right: 0!important;
}
.panel-heading {
    padding: 0 15px;
    min-height: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.category-container {
	padding: 0;
}
.field-content{
	margin-left: 100px;
	margin-bottom: 10px;
}
.user-information{
	margin-left: 20px;
}
.field-edit {
	margin-right: 150px;
}
.user-information a{
	text-decoration: none;
	color: black;
}
.category-custom-list {
	margin-bottom: 50px;
}
.btn-readmore {
margin-top: -20px;
padding: 15px;
}
a:hover {
	text-decoration: none;
}
.img-upload{
	background-color:rgba(0,0,0,0.5);
	margin-top: -20px;
	
} 
.img-upload a {
	margin-left: 10px;
	margin-right:5px;
	font-size: 0.8em;
	color: white;
}
#btn-logout {
	margin-left: 100px;
}
.right-info{
    margin-left: 0px;
    
}