body{
	color: #292929;
	background-color: white;
}
#header{
	background-color: pink;
	height: 80px;
}


#footer{
	height: 50px;
	clear:both;
	background-color:  #572d20;
	position:relative;
	text-align: center;
	color: white;
	
}

#wrapper {
    height: 100%;
    position: relative;
    width: 100%;
	padding: 0 50px 0 50px;
	
}



.fixed-info-content{
	background-color: #f9f9f9;
	padding: 160px 30px 80px 30px;
	top: 0;
	width: 400px;
	height: 100%;
	color: #fff;
	position: fixed;
	float: left;
	z-index: 100;
	background-image: url("../images/upload-cover.png");
	
	
}
.upload-box{
	width: 100%;
	border: 3px solid #292929;
	border-radius: 5px;
	/*background-image: url("images/upload.png");*/
}

.scalable-image-content h1{
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	text-align: left;
	

}

.scalable-image-content h3{
	clear: both;
	font: 16px Georgia;
	font-weight: bold;
	color: #fff;
	text-align: left;
	
}

.scalable-image-content p, .scalable-image-content option{
	clear: both;
	font: 14px Georgia;
	color: #fff;
	text-align: left;
	float: left;
	position: relative;
	padding-left :20px;
}
.fixed-info-content p{
	clear: both;
	font-family: Georgia;
}

.fixed-info-content  ul{
	padding-left:20px;
	font: 14px Georgia;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	
}

.scalable-image-content{
	background-color: #292929;
	float: left;
	width: 100%;
	position: absolute;
	padding: 50px 50px 80px 0;
}

.textbox{
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
}

.separator {
    float: left;
    width: 200px;
    height: 3px;
    background: #fff;
    margin: 20px 0 20px;
    position: relative;
}

.image-content{
	width: 100%;
	height: 100%;
	padding-left: 450px;
	padding-right: 50px;
	padding-top: 30px;
	
	
}

.bg-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.download-btn {
    padding: 14px 40px 13px 40px;
    line-height: 1;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
	margin-top: 15px;
    border: 3px solid #fff;
    position: relative;
	border-radius: 0;
	cursor: pointer;
	float:left;
	
}

a.download-btn:hover{
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

@media only screen and (max-width: 800px){
	.fixed-info-content{
		position: relative;
		float: left;
		height: auto;
		width: 100%;
		float: left;
		padding: 105px 30px 35px 30px;
	}
	
	/*#wrapper{
		padding: 0 20px 0 20px;
	}*/
	#wrapper{
		padding: 0;
	}
	
	.image-content{
		width: 100%;
		padding-left:50px;
		
		
	}
	
	.scalable-image-content{
		padding: 0;
		height: auto;
		margin-bottom: 100px;
		width: 100%;
		position: relative;
	}
	
	
	.bg-image{
		width: 100%;
		height:auto;
	}
.download-btn {
		margin: 20px auto;
	}
	
}
a:hover{
	text-decoration: none;
}








