.register-zone {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #F9F9F9;
  padding-top: 100px;
  height: 100%;
}

.register-title {
  width: 600px;
  line-height: 43px;
  margin: 50px auto 20px;
  font-size: 19px;
  color: white;
  text-align: center;
  border-radius: 3px;
  background: #dc745e;
  }

.register {
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}


.register-input {
  color: black;
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.register-input:focus {
  color: black;
  border-color: #1e9ce6;
  outline: 0;
}

.register-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  background: #fefefe;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
}
.register-button:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
}
.register-switch {
  height: 40px;
  margin-bottom: 15px;
  padding: 4px;
  background: #6db244;
  border-radius: 2px;
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
}
.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
}

@media only screen and (max-width: 800px){
  .register-title{
    width: 90%;
  }
  .register{
    width: 90%;
    padding-bottom: 100px;
  }
}